@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Setting NCDHHS color scheme
$white: #fff;
$dark-white: #ddd; 
$black: #000;
$light-black: hsl(0, 0%, 15%);
$dark-blue: #092940;
$light-blue: #216081;
$headings-color: #1a5f9a;

// Bulma customized variables
$title-color: #216081;
$subtitle-color: #b7a234;
$menu-item-color: $white;
$menu-item-active-background-color: rgba(0,0,0,.3);
$menu-label-color: $white;
$navbar-height: 5rem;
$navbar-item-img-max-height: 5rem;
$navbar-background-color: $white;
// $navbar-box-shadow-size: 10px 10px 10px 10px;

.menu {
    &.my-style {
        position: fixed;
        top: 0;
        right: 0;
        width: 18%;
        height: 100vh;
        margin-top: 5rem;
        padding: 1rem;
        overflow: auto;
        border-left: .1rem solid ($dark-white);
        background-color: $light-blue;
    }
}

.hero {
    background-image: url("../media/mission2.jpg");
}

.sections-container {
    position: relative;
    // to avoid overlap with the side nav menu.
    width: 82%;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";