@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Setting NCDHHS color scheme
$white: #fff;
$black: #000;
$light-black: hsl(0, 0%, 15%);
$dark-blue: #092940;
$light-blue: #397aac;
$dark-grey: #5f6c7b;
$light-grey: #ecf0f3;

// Bulma customized variables
$title-color: $black;
$subtitle-color: $black;
$menu-item-color: $light-black;
$menu-item-active-background-color: rgba(0,0,0,.3);
$menu-label-color: $light-black;
$navbar-height: 5rem;
$navbar-item-img-max-height: 5rem;
$navbar-background-color: $dark-blue;

.menu {
    &.my-style {
        position: fixed;
        top: 0;
        right: 0;
        width: 18%;
        height: 100vh;
        margin-top: 5rem;
        padding: 1rem;
        overflow: auto;
        background-color: $light-grey;
    }
}

.hero {
    background-image: url("../media/bg_poly-accent-blue.jpg");
}

.sections-container {
    position: relative;
    // to avoid overlap with the side nav menu.
    width: 82%;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";