@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Setting NCDHHS color scheme
$white: #fff;
$black: #000;
$primary: #8ead67;
$light-black: hsl(0, 0%, 15%);
$dark-blue: #092940;
$light-blue: #397aac;
$dark-grey: #5f6c7b;
$light-grey: #ecf0f3;

// Bulma font-faily variable
$family-sans-serif: 'Raleway', sans-serif;

// Bulma navbar variables
$navbar-item-img-max-height: 6rem;
$navbar-background-color: $white;
$navbar-item-color: $primary;
$navbar-item-hover-color: $black;
$navbar-item-hover-background-color: $light-grey;
$navbar-dropdown-item-hover-color: $black;
$navbar-dropdown-item-hover-background-color: $light-grey;
$navbar-dropdown-arrow: $primary;

.hero {
    // background-image: url("../media/image-hero.jpeg");
    background-image: linear-gradient(
        to bottom,
        rgba($black, 0.6),
        rgba($dark-grey, 0.6),
        rgba($dark-grey, 0.8)),
    url("../media/image-hero.jpeg");
    background-size: cover;
    background-position: bottom;
    position: relative;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

// Import Extensions
@import "../node_modules/bulma/sass/extensions/_all.sass"